body {
	margin-top: 70px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.checkboxes span {
	display: block;
	clear: both;
	height: 2em;
}

.checkboxes input {
	float:left;
	margin-right: 5px;
}

.checkboxes label {
	float: left;
	text-align: left;
	padding-top: 0;
	line-height: 1em;
	width: auto;
}

.leftMargin {
	margin-left: 10px;
}

.text {
	margin-left: 1em;
    text-align: left;
    width: auto;
}