body {
	margin-top: 70px;
}

.side-menu {
	background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
    position: fixed;
    width: 200px;
}

.side-menu li a {
	font-size: 20px;
	line-height: 30px;
}

.clear {
	clear: both;
}

.checkboxes span {
	display: block;
	clear: both;
	height: 2em;
}

.checkboxes input {
	float:left;
	margin-right: 5px;
}

.checkboxes label {
	float: left;
	text-align: left;
	padding-top: 0;
	line-height: 1em;
	width: auto;
}

.leftMargin {
	margin-left: 10px;
}

.text {
	margin-left: 1em;
    text-align: left;
    width: auto;
}

.activity {
	background-color: #F5FAFF;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.activity a {
	color: darkblue;
}

.form-link {
	line-height: 30px;
}

.inline {
	display: inline;
}

.unviewed {
	font-weight: bold;
}

.trashed {
	text-decoration: line-through;
}

.name-cell {
	width: 100%;
}